@font-face {
  font-family: 'Inter Tight';
  src: url('./fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal; /* You can specify the font weight if it's a specific weight */
  font-style: normal; /* You can specify the style if it's italic or normal */
}

.hero-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.hero-text2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 1000;
  text-transform: none;
  letter-spacing: 0.04em;
}

.content-text {
  font-family: 'Inter Tight', sans-serif;
  text-align: start;
  font-weight: 900;
  text-transform: none;
  letter-spacing: normal;
}
